{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}vendors/fancybox/jquery.fancybox.css" rel="stylesheet" media="screen">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/order-form.js"></script>
    {% if debug %}
        <script src="{{ STATIC_URL }}vendors/fancybox/jquery.fancybox.js"></script>
    {% else %}
        <script src="{{ STATIC_URL }}vendors/fancybox/jquery.fancybox.pack.js"></script>
    {% endif %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/youtube-player.js"></script>
{% endblock %}

{% block class %}home{% endblock %}

{% block content %}
    <script src="http://www.youtube.com/player_api"></script>
    <div class="row" id="about">
        <div class="span10 text">
            <h1>Книга Реструкт</h1>
            {{ config.HOME_RECENSION|safe }}
        </div>
        <div class="span2">
            <img class="img-polaroid book-logo" src="{{ STATIC_URL }}img/book.jpg">
        </div>
    </div>

    <div class="row buy-row" id="buy">
        <div class="span4">
                <span class="price">
                    Книга <ins>650</ins> <img src="{{ STATIC_URL }}img/ruble.gif" class="ruble-img" />
                </span>
                <span class="price">+</span>
                <span class="price">
                    доставка <ins>200</ins> <img src="{{ STATIC_URL }}img/ruble.gif" class="ruble-img" />
                </span>
                <img src="{{ STATIC_URL }}img/ru_ems.jpg" alt="Доставка Почтой Роиссе">
        </div>
        <div class="span8">
            <form id="order_form" class="form-actions">
                {% csrf_token %}
                <div class="control-group">
                    <label class="control-label" for="id_address">Адрес доставки</label>
                    <div class="controls">
                        <input type="text" maxlength="256" id="id_address" name="address" placeholder="город, улица, дом, квартира, индекс" />
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="id_name">ФИО</label>
                    <div class="controls">
                        <input type="text" maxlength="256" id="id_name" name="name" placeholder="ФИО полностью" />
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="id_email">Email</label>
                    <div class="controls">
                        <input type="text" maxlength="256" id="id_email" name="email" placeholder="Для уведомлений" />
                        <span class="help-inline"></span>
                    </div>
                </div>

                <ul class="thumbnails pay-systems">
                    <li>
                        <img src="{{ STATIC_URL }}img/ps_qiwilk_32.png" alt="QiWi кошелек">
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}img/ps_bank_32.png" alt="Visa & MasterCard">
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}img/ps_ac_32.png" alt="Альфаклик">
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}img/ps_wmr_32.png" alt="WebMoney WMR">
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}img/ps_wmz_32.png" alt="WebMoney WMZ">
                    </li>
                </ul>
                <button type="submit" class="btn btn-large btn-success">
                    <i class="icon-shopping-cart icon-white"></i> Купить
                </button>
                <img id="loader" src="{{ STATIC_URL }}img/loader.gif" />
            </form>

            <form id="payment_form" action="https://merchant.pay2pay.com/?page=init" method="POST">
                <input type="hidden" id="id_xml" name="xml" value="" />
                <input type="hidden" id="id_sign" name="sign" value="" />
                <input type="submit" id="payment_form_submit" value="" />
            </form>
        </div>
    </div>

    <div class="row" id="video">
        <div class="span12">
            <h2>Видео</h2>
        </div>
        <ul class="thumbnails">
            <noindex>
                {% for video in videos %}
                    <li class="span3">
                        <div class="thumbnail">
                            <a class="thumbnail fancybox fancybox.iframe" rel="nofollow" href="http://www.youtube.com/embed/{{ video.code }}?enablejsapi=1&wmode=opaque">
                                <img src="http://img.youtube.com/vi/{{ video.code }}/hqdefault.jpg" alt="{{ video.name }}">
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </noindex>
        </ul>
    </div>

    <div class="row" id="author">
        <div class="span9 text">
            <h2>От автора</h2>
            <p>
                Здравствуйте, мои маленькие любители экстремизма!
            </p>
            <p>
                Я примерно знаю, что вы ожидаете увидеть в этой книге. И уверен, что это вы увидите. Но спешу вас заверить, в ней на самом деле ничего этого нет. Вся книга придумана от начала и до конца. Любые совпадения с реальными людьми и событиями или случайны или являются плодом вашего воспаленного экстремизмом разума. Автор не согласен ни с одним написанным в книге словом. Мало того, он, на всякий случай глубоко её осуждает. Извиняется перед всеми, кого она непременно оскорбит. Не советует читать книгу никому. Особенно — агрессивно настроенным группам граждан, в том числе несовершеннолетних.
            </p>
            <p>
                Надеюсь, что вы не свихнетесь от ее прочтения так, как автор свихнулся для ее написания. Жизнь ради Идеи — глупость. Жить надо ради удовольствия. Для того, чтобы заработать побольше денег, купить машину, квартиру, дачу. Жениться и вырастить сына. Твердо усвойте это перед тем, как читать дальше.
            </p>
        </div>
        <div class="span3">
            <img class="img-polaroid" src="{{ STATIC_URL }}img/author.jpg">
        </div>
    </div>
{% endblock %}