{% extends "base.html" %}

{% block title %}Купить{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <form method="post" action="https://merchant.w1.ru/checkout/default.aspx" accept-charset="UTF-8">
                {{ form.as_ul|safe }}

                <input name="WMI_MERCHANT_ID" value="123456789012"/>
                <input name="WMI_PAYMENT_AMOUNT" value="100.00"/>
                <input name="WMI_CURRENCY_ID" value="643"/>
                <input name="WMI_DESCRIPTION" value="Оплата покупки книги реструкт"/>
                <input name="WMI_SUCCESS_URL" value="https://myshop.ru/w1/paid.php"/>
                <input name="WMI_FAIL_URL" value="https://myshop.ru/w1/fail.php"/>
                <input type="submit"/>
            </form>
        </div>
    </div>
{% endblock %}