{% extends "base.html" %}

{% block title %}{{ config.ORDER_SUCCESS_TITLE }}{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            setContentHeight();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h1>{{ config.ORDER_SUCCESS_TITLE }}</h1>
            <p>
                {{ config.ORDER_SUCCESS_TEXT|linebreaksbr|safe }}
            </p>
        </div>
    </div>
{% endblock %}