body {
    background-image: url(/static/img/background.jpg);
}
.content-wrapper {
    background-color: white;
    border-left: 20px solid white;
    border-right: 20px solid white;
}
.content {
    width: 980px;
    margin-top: 42px;
}

body.home {}
body.home {}

.home .row {
    padding-top: 50px;
}

.home #about {
    padding-top: 50px;
}
.home .book-logo {
    height: 250px;
    float: right;
}
.home .btn-success {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.home .buy-form input {
    width: 270px;
}
.home #buy {}
.home #buy .row-fluid {
    margin-left: 20px;
}
.home #buy > .span4 {
    text-align: center;
}
img.ruble-img {
    height: 1.5ex;
    margin-left: auto;
    margin-right: auto;
}
#price {
    font-size: 2em;
    text-align: center;
}
.pay-systems {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.home #author {

}
.home #author .span9 p {
    text-indent: 20px;
}

#video ul.thumbnails {
    margin-left: auto;
    margin-right: auto;
}
#video h3 {
    font-size: 19.5px;
    line-height: 27px;
}
#video .span3 > div.thumbnail {
    /*min-height: 305px;*/
}

#footer {
    background-color: white;
    opacity: 0.92;
    padding-top: 10px;
}
#footer .row {
    padding-top: 0;
}
#footer .container {
    min-height: 390px;
    background-color: white;
}